/*
body {
    background-color: yellowgreen;
}

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0;
    height: 100px;
    margin: auto;
    width: 400px;
}*/
